@include media-breakpoint-up (xs) {
  .pre-navigation {
    background-color: $secondary-color;
    &--content {
      display: flex;
      justify-content: flex-end;
      border-bottom: 0.5px solid $border-color;
      padding: 0;
      ul {
        margin: 1rem 0;
        li {
          list-style: none;
          a {
            color: #eeeeee;
            font-family: 'Source Code Pro', monospace;
            font-size: $mob-font-size-sm;
            text-transform: uppercase;
            letter-spacing: 0px;
          }
        }
      }
      a {
        color: $primary-color;
      }
    }
  }
  .navigation {
    background-color: $secondary-color;
    &--content {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      ul {
        display: flex;
        li {
          list-style: none;
          a {
            color: $primary-color;
          }
        }
      }
    }
    &--burger {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      .burger {
        a {
          margin-bottom: 0;
        }
        .line {
          width: 60px;
          height: 2px;
          background-color: $primary-color;
          margin: 6px 0;
        }
        &:hover {
          .line {
            margin: 3px 0;
          }
        }
      }
    }
  }
}