{# 
  Used for the Footer Menu menu navigation links.
#}

{# Use the heading_id as the aria-labelledby #}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}

{# Set footer classes #}
{% set footer_attribute = create_attribute() %}

{# Set footer classes array #}
{%
  set footer_classes = [
    'footer-content',
    'container',
  ]
%}

<nav
  {# Use nav classes array #}
  {{ footer_attribute.addClass(footer_classes) }}
  {# Role #}
  role="footer" 
  {# Set aria-labelledby #}
  aria-labelledby="{{ heading_id }}"
>
  
  {# Footer navigation menu items. #}
  {% block content %}
    {{ content }}
  {% endblock %}

  {# Copyright #}
  <p>©<span id="copyright-year"></span> Vice</p>

</nav>