{# 
  Used for the Pre-Navigation menu navigation links.
#}

{# Use the heading_id as the aria-labelledby #}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}

{# Set nav classes #}
{% set prenav_attribute = create_attribute() %}

{# Set nav classes array #}
{%
  set prenav_classes = [
    'pre-navigation-content',
    'container',
  ]
%}

<nav
  {# Use nav classes array #}
  {{ prenav_attribute.addClass(prenav_classes) }}
  {# Role #}
  role="navigation" 
  {# Set aria-labelledby #}
  aria-labelledby="{{ heading_id }}"
>

  {# Pre navigation menu items #}
  {% block content %}
    {{ content }}
  {% endblock %}

</nav>