{#
/**
    xxx
 */
#}

<div class="promotion--section container-fluid">
  <div class="content container">
    <h2>Promotional Content</h2>
    <p>Duis scelerisque sit amet erat fringilla dignissim. Pellentesque faucibus feugiat imperdiet. Nulla dignissim diam nec velit malesuada.</p>
  </div>
</div>
