{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<div class="title">
  <h2>More</h2>
  <h2>like this</h2>
</div>

{% if content %}
  <div class="sidebar" {{ attributes }}>
    {{ content }}
  </div>
{% endif %}
